<div class="container">

    <h1 class="text-center mb-4 bg-info p-4 text-white fw-bolder">Add Employee</h1>

    <div class="input-group mb-3">
        <span class="input-group-text" id="first-name"></span>
        <input type="text" class="form-control" placeholder="First Name" aria-label="Username" aria-describedby="first-name" [(ngModel)]="employeeObj.firstName" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="last-name"></span>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="last-name" [(ngModel)]="employeeObj.lastName" required>
    </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="employeeObj.email" required>
        <span class="input-group-text" id="basic-addon2">.com</span>
      </div>
      
      <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="employeeObj.departmentId" required>
            <option selected>Department</option>
            <option value="001">001</option>
            <option value="002">002</option>
            <option value="003">003</option>
            <option value="004">004</option>
            <option value="005">005</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="employeeObj.roleId" required>
            <option selected>Role</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
        </select>
      </div>

      <button type="button" class="btn btn-success" (click)="addEmployee()">Add Employee</button>
</div>
