<ul class="nav justify-content-center">
    <li class="nav-item">
      <button class="nav-link active" aria-current="page" href="#" [routerLink]="['/add-employee']">Add Employee</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" href="#" [routerLink]="['/view-employee']">View All Employee</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" href="#">Link</button>
    </li>
    <li class="nav-item">
      <button class="nav-link disabled" aria-disabled="true">Disabled</button>
    </li>
  </ul>
